In [95]:
import numpy as np
import pandas as pd

# Data

In [96]:
data_kategori = {
    'kategori_id':np.array([i for i in range(1,5)]),
    'ketagori':np.array(['makana','minuman','tambahan','kudapan']),
}

data_produk = {
    'kategori_id':np.array([1,1,1,2,2,2,1,3,2,3]),
    'produk':np.array([
        'Soto Ayam',
        'Nasi Goreng Seafood',
        'Sate Kambing',
        'Limun Soda',
        'Kopi Susu',
        'Air Mineral',
        'Bakso Sapi',
        'Tempe Bacem',
        'Es Teh Manis',
        'Kerupuk',
        ]),
}

# Operasi

In [97]:
kategori = pd.DataFrame(data_kategori)
produk = pd.DataFrame(data_produk)
gabung_table = pd.merge(produk,kategori, on='kategori_id')
gabung_table_outer = pd.merge(produk,kategori, on='kategori_id', how='outer')

# Sorting

In [98]:
urutkan = produk.sort_values(by='produk')
# urutkan = produk.sort_values(by='produk', ascending=False) # di balik urutannya
# urutkan_berdasarkan_index = produk.sort_index() # default nya gitu

In [99]:
df1 = pd.DataFrame([4,5,2,7,1,8], columns=['nilai'])
df1['ranking'] = df1['nilai'].rank()
print(df1)

   nilai  ranking
0      4      3.0
1      5      4.0
2      2      2.0
3      7      5.0
4      1      1.0
5      8      6.0

# Binning 'Pecah data jadi bin(kecil)'

In [122]:
kelompok_usia = np.array([1,12,25,45,65])
kelompok_usia_label = np.array(['anak-anak','remaja','dewasa','lanjut usia'])
jumlah_data = 30
responden = np.array([i + np.random.randint(1,67) for i in range(jumlah_data)])

print(kelompok_usia)
print(kelompok_usia_label)
print(responden)

[ 1 12 25 45 65]
['anak-anak' 'remaja' 'dewasa' 'lanjut usia']
[ 4 56 13 49 21 53 40 10 70 52 30 13 56 32 15 59 69 31 33 67 47 35 65 50
 32 34 28 60 83 47]

In [125]:
binning = pd.cut(responden, kelompok_usia, labels=kelompok_usia_label) # di bagi menjadi kecil berdasarkan label

data = {
    'kategori':binning,
    'usia':responden,
}


data_frame = pd.DataFrame(data).dropna()

print(binning, '\n')
print(data_frame, '\n')
pd.value_counts(binning)

['anak-anak', 'lanjut usia', 'remaja', 'lanjut usia', 'remaja', ..., 'dewasa', 'dewasa', 'lanjut usia', NaN, 'lanjut usia']
Length: 30
Categories (4, object): ['anak-anak' < 'remaja' < 'dewasa' < 'lanjut usia']

       kategori  usia
0     anak-anak     4
1   lanjut usia    56
2        remaja    13
3   lanjut usia    49
4        remaja    21
5   lanjut usia    53
6        dewasa    40
7     anak-anak    10
9   lanjut usia    52
10       dewasa    30
11       remaja    13
12  lanjut usia    56
13       dewasa    32
14       remaja    15
15  lanjut usia    59
17       dewasa    31
18       dewasa    33
20  lanjut usia    47
21       dewasa    35
22  lanjut usia    65
23  lanjut usia    50
24       dewasa    32
25       dewasa    34
26       dewasa    28
27  lanjut usia    60
29  lanjut usia    47

lanjut usia    11
dewasa          9
remaja          4
anak-anak       2
dtype: int64

# Tampilkan

In [126]:
print(kategori, '\n') # Data kategori
print(produk, '\n') # Data produk
print(gabung_table, '\n') # merge join
print(gabung_table_outer,'\n') # merge outer yang data Nan juga muncul
print(urutkan,'\n')

   kategori_id  ketagori
0            1    makana
1            2   minuman
2            3  tambahan
3            4   kudapan

   kategori_id               produk
0            1            Soto Ayam
1            1  Nasi Goreng Seafood
2            1         Sate Kambing
3            2           Limun Soda
4            2            Kopi Susu
5            2          Air Mineral
6            1           Bakso Sapi
7            3          Tempe Bacem
8            2         Es Teh Manis
9            3              Kerupuk

   kategori_id               produk  ketagori
0            1            Soto Ayam    makana
1            1  Nasi Goreng Seafood    makana
2            1         Sate Kambing    makana
3            1           Bakso Sapi    makana
4            2           Limun Soda   minuman
5            2            Kopi Susu   minuman
6            2          Air Mineral   minuman
7            2         Es Teh Manis   minuman
8            3          Tempe Bacem  tambahan
9            3              Kerupuk  tambahan

    kategori_id               produk  ketagori
0             1            Soto Ayam    makana
1             1  Nasi Goreng Seafood    makana
2             1         Sate Kambing    makana
3             1           Bakso Sapi    makana
4             2           Limun Soda   minuman
5             2            Kopi Susu   minuman
6             2          Air Mineral   minuman
7             2         Es Teh Manis   minuman
8             3          Tempe Bacem  tambahan
9             3              Kerupuk  tambahan
10            4                  NaN   kudapan

   kategori_id               produk
5            2          Air Mineral
6            1           Bakso Sapi
8            2         Es Teh Manis
9            3              Kerupuk
4            2            Kopi Susu
3            2           Limun Soda
1            1  Nasi Goreng Seafood
2            1         Sate Kambing
0            1            Soto Ayam
7            3          Tempe Bacem