In [45]:
import numpy as np
import pandas as pd

In [53]:
data_kategori = {
    'kategori_id':np.array([i for i in range(1,5)]),
    'ketagori':np.array(['makana','minuman','tambahan','kudapan']),
}

data_produk = {
    'kategori_id':np.array([1,1,1,2,2,2,1,3,2,3]),
    'produk':np.array([
        'Soto Ayam',
        'Nasi Goreng Seafood',
        'Sate Kambing',
        'Limun Soda',
        'Kopi Susu',
        'Air Mineral',
        'Bakso Sapi',
        'Tempe Bacem',
        'Es Teh Manis',
        'Kerupuk',
        ]),
}

kategori = pd.DataFrame(data_kategori)
produk = pd.DataFrame(data_produk)
gabung_table = pd.merge(produk,kategori, on='kategori_id')

print(kategori, '\n')
print(produk, '\n')
print(gabung_table)

   kategori_id  ketagori
0            1    makana
1            2   minuman
2            3  tambahan
3            4   kudapan

   kategori_id               produk
0            1            Soto Ayam
1            1  Nasi Goreng Seafood
2            1         Sate Kambing
3            2           Limun Soda
4            2            Kopi Susu
5            2          Air Mineral
6            1           Bakso Sapi
7            3          Tempe Bacem
8            2         Es Teh Manis
9            3              Kerupuk

   kategori_id               produk  ketagori
0            1            Soto Ayam    makana
1            1  Nasi Goreng Seafood    makana
2            1         Sate Kambing    makana
3            1           Bakso Sapi    makana
4            2           Limun Soda   minuman
5            2            Kopi Susu   minuman
6            2          Air Mineral   minuman
7            2         Es Teh Manis   minuman
8            3          Tempe Bacem  tambahan
9            3              Kerupuk  tambahan